 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Mykart</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Carts</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
      </ul>
    </div>
  </nav>